<!DOCTYPE html>
<html lang="en">
<title>Coral Sound App</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="w3.css">
<link rel="stylesheet" type="text/css" href="w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
</style>
<script type="text/javascript">
function formSubmit(radioObj){
  if(radioObj.checked){
    document.getElementById("filForm").submit();
  }
}

function modalShow(formID, wavID, cname, fname) {
  
  document.getElementById("hidWavID1").value = wavID;
  document.getElementById("hidWavID2").value = wavID;
  if (formID == "id01") {
    // Upload modal
    document.getElementById("predictClass").value = cname;
  }  else {
    // Delete modal
    document.getElementById("hidWavFile").value = fname;
  }
  if (formID == "id03") {
    // ignore if upload disabled
    //window.alert(document.getElementById("btnUploadAll").style.boxShadow)
    if (document.getElementById("btnUploadAll").style.boxShadow == "rgb(136, 136, 136) 0px 0px 0px" ) {
      return;
    }
  }
  document.getElementById(formID).style.display='block';
}

function uploading() {
  
  document.getElementById("bt03").disabled = true;
  document.getElementById("sp03").innerHTML = "Uploading files, Please wait...";
  document.getElementById("img03").style.visibility = "visible";

  return true;


}

window.onload = function() {

  setTimeout(refreshTable, 30000);
         
}

function refreshTable() {
  var xhttp;
 
  xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("tblBody").innerHTML = this.responseText;
      setTimeout(refreshTable, 30000);
    }
  }
  let querystring = window.location.search;
  xhttp.open("GET", "table" + querystring, true);
  xhttp.send();
}

</script>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="<%= menuItems[1] %>" class="w3-bar-item w3-button w3-padding-large w3-white"><%= menuItems[0] %></a>
    <a href="<%= menuItems[3] %>" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white"><%= menuItems[2] %></a>
    <a href="https://dashboard.balena-cloud.com" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">balenaCloud</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">1cf2ee</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">2f44ca</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">5e70f2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Master</a>
  </div>
</div>
